@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Kanit:wght@100;200;300;400;500;600;700;800;900&family=Kaushan+Script&display=swap');


  .kaushan-script-regular {
    font-family: "Kaushan Script", serif;
    font-weight: 400;
    font-style: normal;
  }
  

  .kanit-medium {
    font-family: "Kanit", serif;
    font-weight: 500;
    font-style: normal;
  }

  .agbalumo-regular {
    font-family: "Agbalumo", serif;
    font-weight: 400;
    font-style: normal;
  }

  
  .Landing{
    width: 100%;
    position:absolute;
    top:0;
    height:100vh;
    background: linear-gradient(360deg, hsl(287, 82%, 36%) 0%, hsl(268, 88%, 80%) 0%, hsl(278, 73%, 53%) 100%);
}

.link-paragraph{
  font-size: 1.4em;
  position: relative; 
  display: inline-block; 
  color: rgb(0, 0, 0); 
}

body{
    margin:0;
    padding:0;
}

h1, h3 {
    margin: 0;
    padding: 0;
}


html{
    scrollbar-width: none;
}

.Navigation{
    height: 7.4em;
    width: 100%;
    position: relative;
    top:0;
    z-index: 10000;

}


a, a:visited{
 text-decoration: none;
}

.info_container{
text-align: center;
position: relative;
top: 20px;
display: flex; 
flex-direction: column; 
align-items: center; 
justify-content: center; 
z-index:1;
}

.profile_img{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 7px solid black;  
  cursor: pointer;
  border-color: #000000;
}

.profile_wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.profile_wrapper::after {
  content: "Click me";
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  background-color: hsl(311.6, 30.1%, 40.4%);
  color: white;
  padding: 10px 10px;
  border-radius: 5px;
  font-size: 14px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.profile_wrapper:hover::after {
  opacity: 1;
  visibility: visible;
}

.description{
    font-size: clamp(20px, 2.2vw, 36px);
    font-family: "Agbalumo", serif;
    color:#340062;
    margin: 0;
    display: inline-block;
    height: 2em; 
}

.typed-cursor{
 display: inline-block;
 position: relative;
}


.name{
    font-size: clamp(35px, 5vw, 70px);
    font-family: "Kaushan Script", serif;
}



.center-con {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top:18%;
  

}

.round {
  position: relative;
  border: 3px solid #fff;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  animation: movearrow 3s ease-in-out infinite;
  cursor: pointer;
}

@keyframes movearrow {
  0% {
    transform: translateY(0);   
  }

  50% {
    transform: translateY(-10px); 
    
  }

  100% {
    transform: translateY(0); 
  
  }
}

span {
  z-index: 99999999;
  height: 40px;
  margin:1px;
  width: 150px;
  background: #fff;
  transition: 0.4s ease;
}

span:first-child {
  display: block;
  position: absolute;
  transform: rotate(45deg);
  left: 25%;
  bottom: 35%;
}

span:nth-child(2) {
  display: block;
  position: absolute;
  transform: rotate(-45deg);
  left: 45%;
  bottom: 35%;
}

span:nth-child(3) {
  display: block;
  position: absolute;
  transform: rotate(45deg);
  left: 25%;
  bottom: 54%;
}

span:nth-child(4) {
  display: block;
  position: absolute;
  transform: rotate(-45deg);
  left: 45%;
  bottom: 54%;
}

.round:hover span:nth-child(1) {
  transform: rotate(-135deg);
}

.round:hover span:nth-child(2) {
  transform: rotate(135deg);
}

.round:hover span:nth-child(3) {
  transform: rotate(225deg);
}

.round:hover span:nth-child(4) {
  transform: rotate(-225deg);
}


.Link-selection{
display: flex;
list-style: none;
flex-direction: row;
right:5%;
gap:4em;
justify-content: end;
align-items: baseline;
position: relative;
top: 40px;
font-family: "Kanit", serif;
font-size: 20px;
opacity: 1;

}

.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
}


.link-paragraph::after {
  content: ""; 
  position: absolute; 
  bottom: 0; 
  left: 0; 
  width: 0%; 
  height: 2px; 
  background-color: rgb(46, 46, 46); 
  transition: width 0.3s ease; 
}

.link-paragraph:hover::after {
  width: 100%; 
}


.Contact{
    width: 100%;
    height:100vh;
    background-color: rgb(134, 53, 53);
    position:fixed;
    
}

.scrollable-section::-webkit-scrollbar{
    overflow-y: scroll;
    display: none;  
}



.hamburger-menu {
    display: none;
    cursor: pointer;
  }

  .bar {
    width: 40px;
    height:7px;
    border-radius: 10px;
    background-color: #000000;
    margin: 4px 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
 
  }

  @media screen and (max-width: 770px) {

    .hamburger-menu {
      display: block;
      width:50px;
      height:40px;
      float:right;
      margin-right:20px;
      margin-top: 35px;
      padding:7px;
      
    }

    .burger-active .bar{
   background-color:rgb(93, 93, 93);
  


    }

    .burger-active .bar:nth-child(1){
        transform: translateY(10px) rotate(45deg);
   
    }

    .burger-active .bar:nth-child(2){
        opacity:0;
    }

    .burger-active .bar:nth-child(3){
        transform: translateY(-12.5px) rotate(130deg);
    }

  
    .Link-selection {
      display: none;
    }
  
    .show-links {
      display: block;
      background:transparent;
      height:307px;
      width:100vw;
      float:right;
      font-size: 20px;
      position: fixed;
      z-index:-1;
      top:0px;
      right:0px;
      margin:0;
      padding:0;
      border-bottom-left-radius: 25px;
      border-bottom-width: 5px;
      border-left-width: 3px;
      border-bottom-color: black;
      backdrop-filter: invert(5%);
    }
  
     .Link-paragraph:hover{
        background-color: rgb(255, 194, 120);
        font-size: 10px;
     }

    .link-paragraph{
       font-size: 1.4em;
       display: flex;
       justify-content: center;
       align-items: center;
       padding-top:15px;
       padding-bottom:15px;
       margin-top:20px;
       margin-bottom:-20px;
       animation: none;
       border-bottom: 0px;
       
    }

    .link-paragraph:hover{
       background-color: azure;
    
    }
    .profile_img{
      width: 230px;
      height: 230px;
      border-radius: 50%;
      border: 5px solid black;  
    }
  


    .center-con {
      top:45%;
    }

    .link-paragraph::after {
   content:none;
     
    }

    .info_container{
      text-align: center;
      position: relative;
      top: 25vh;
      display: flex; 
      flex-direction: column; 
      align-items: center; 
      justify-content: center; 
      z-index:1;
      }
      
      .name{
       position: relative;
       bottom:50px;
    }

    .description{
      position: relative;
      bottom:48px;
  }

  }

